.div {
  widht: 20em;
  widht: 20ex;
  widht: 20ch;
  widht: 20rem;
  widht: 20vw;
  widht: 20vh;
  widht: 20vmax;
  widht: 20vmin;
  widht: 20cm;
  widht: 20mm;
  widht: 20q;
  widht: 20in;
  widht: 20pt;
  widht: 20pc;
  widht: 20px;
}
