@media only screen and (min-device-width: 241px) and (max-device-width: 360px) {
  div {
    animation: anim4 linear infinite;
    width: 10px
  }
  @keyframes anim {
    0% {
      height: 1px;
    }
    100% {
      height: 150px;
    }
  }
}
